body {
    background-image: url(images/updated-landscaping1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
}

h1 {
    color: white;
    text-shadow: 4px 4px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 2px black;

}

h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 35px;
    text-shadow: 3px 2px black;
    margin-top: 10%;
    background-color: rgba(99, 98, 98, 0.5);
}

img {
    display: block;
    margin: auto;
    border: 5px solid black;
    width: 50%;
    max-width: 500px;
}