/* Set the whole page background to black */
body {
    background: black;
}

.nav-spacer {
    height: 30px;
}

/* Main container, full viewport height, centers content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    margin: 0%;
}

/* For centering and styling the image container */
.image-wrapper {
    padding: 2vw;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95vw;
    max-height: 70vh;
    margin-bottom: 2vw;
    border-radius: 20px;
}

/* Responsive image styling */
.image-wrapper img {
    display: block;
    max-width: 95vw;
    max-height: 80vh;
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: contain;
}

h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: -2rem;
    max-width: 95%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

h2 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    word-break: break-word;
    max-width: 95%;
}

h3 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.75rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    word-break: break-word;
    max-width: 95%;
}

@media (max-width: 695px) {
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        /* reduce spacing below */
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
        /* tighten spacing */
    }

    h3 {
        font-size: 1rem;
    }
}

@media (min-width: 696px) and (max-width: 900px) {
    h2 {
        font-size: 3.5rem;
    }
}