
body {
    background: linear-gradient(to left, #efd993, #e3e083);;
}

.columns {
    display: flex;
    margin-right: 750px;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
}

header {
    text-align: left;
    margin-left: 20%;
}

.image-landscape {
    display: flex;
    justify-content: right;
}

.image-landscape img {
    width: 49.5%;
    border: 5px solid #325404;
    border-radius: 25px;
}

