body {
    background-image: url(images/updated-landscaping1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
}

header h1 {
    color: white;
    text-shadow: 4px 4px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 2px black;

}

h3 {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 3px 2px black;
    margin-bottom: 0px;
}

#services {
    color: #ffffff;
    font-size: 30px;
    text-shadow: 3px 2px rgb(0, 0, 0);
    background-color: rgba(50, 50, 51, 0.272);
    display: inline-block;
}

#contacts ul>li {
    color: rgb(72, 255, 0);
    font-size: 20px;

}

footer {
    color: white;
    text-shadow: 3px 2px black;
    text-align: center;
    padding-top: 500px;
    font-size: 25px;
}

img[alt="HITEWORKS LOGO"] {
    float: right;
    margin-top: 8px;
    border-width: 5px;
    border-color: black;
    margin-right: 25px;
    border-style: solid;
}

nav {
    text-align: center;
}

nav a {
    color: rgb(72, 255, 0);
    padding: 30px;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: rgb(0, 251, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}