body {
    background-image: url(realistic\ landscaping\ PNW.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Do all units need to be relative? */
header h1 {
    color: white;
    background-color:rgba(0, 0, 0, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 2%;
}

h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}

h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}

ul {
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.contacts ul > li{
    color: rgb(187, 255, 0);

}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 500px;
}

img[alt="HITEWORKS LOGO"] {
    float: right;
    padding-top: 0px;
    padding-right: 100px;
}