/* I couldn't resist making my website less ugly! I still have much room to improve and tried to be minimal... */
body {
   background-image: url(realistic\ landscaping\ PNW.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

header {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
}

h2 {
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

h3 {
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}
ul {
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 500px
}
<<<<<<< HEAD

img {
    float: right;
    padding-top: 200px;
}
=======
>>>>>>> 8261d09d143e82c4f61c992e4829ae7b337a81dc
